.container {
  display: flex;
  height: calc(100vh - 75px);
  width: 100%;
}

.left-section {
  width: 50%;
  padding: 2rem;
  background-color: #c57474;
}

.right-section {
  width: 50%;
}

.carousel-slide {
  width: 100% !important; /* Set the slide width to 100% */
  height: 100vh !important; /* Set the slide height to 100% of the viewport height */
  object-fit: cover; /* Ensure the image covers the entire slide */
}
