// styles.scss
// Import Angular Material theming functions

@use "@angular/material" as mat;
@import "@angular/material/theming";
@include mat-core();
@import "./mixins";

// Define a default theme with primary, accent and warn colors
$default-primary: mat.define-palette(mat.$indigo-palette);
$default-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$default-warn: mat.define-palette(mat.$red-palette);
$default-secondary: mat.define-palette(mat.$teal-palette, 500, 300, 700);

$default-theme: mat.define-light-theme(
  (
    color: (
      primary: $default-primary,
      accent: $default-accent,
      warn: $default-warn,
      secondary: $default-secondary,
    ),
  )
);

// Define a dark theme with primary, accent and warn colors
$dark-primary: mat.define-palette(mat.$blue-grey-palette);
$dark-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$dark-warn: mat.define-palette(mat.$deep-orange-palette);
$dark-secondary: mat.define-palette(mat.$lime-palette, 500, 300, 700);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
      secondary: $dark-secondary,
    ),
  )
);

// Define a custom theme with primary, accent and warn colors
$custom-primary: mat.define-palette(mat.$purple-palette);
$custom-accent: mat.define-palette(mat.$green-palette, A200, A100, A400);
$custom-warn: mat.define-palette(mat.$orange-palette);
$custom-secondary: mat.define-palette(mat.$cyan-palette, 500, 300, 700);

$custom-theme: mat.define-light-theme(
  (
    color: (
      primary: $custom-primary,
      accent: $custom-accent,
      warn: $custom-warn,
      secondary: $custom-secondary,
    ),
  )
);

/* Define custom CSS variables without specific colors */
@include mat.all-component-themes($default-theme);
@include theme-colors($default-theme);

.theme-bg {
  background-color: #f7f7f7;
}

.theme-bg-2 {
  background-color: #e7e7e7;
}

.theme-color {
  color: #333;
}

// Include the default theme styles for the default-theme class
.default-theme {
  @include mat.all-component-themes($default-theme);
  @include theme-colors($default-theme);

  .theme-bg {
    background-color: #f7f7f7;
  }
  .theme-bg-2 {
    background-color: #f0f0f0;
  }
  .theme-color {
    color: #333;
  }
}

// Include the dark theme styles for the dark-theme class
.dark-theme {
  @include mat.all-component-themes($dark-theme);
  @include theme-colors($dark-theme);

  .theme-bg {
    background-color: #555;
  }
  .theme-bg-2 {
    background-color: #333;
  }
  .theme-color {
    color: #fafafa;
  }
}

// Include the custom theme styles for the custom-theme class
.custom-theme {
  @include mat.all-component-themes($custom-theme);
  @include theme-colors($custom-theme);

  .theme-bg {
    background-color: #f7f7f7;
  }
  .theme-bg-2 {
    background-color: #f0f0f0;
  }
  .theme-color {
    color: #555;
  }
}
