<mat-toolbar color="primary">
  <button mat-button routerLink="/" class="nav-btn nav-btn--logo">
    <img src="../../../assets/logo.png" alt="logo" />
  </button>
  <button
    mat-button
    routerLink="/transcriptions/new"
    class="nav-btn"
    routerLinkActive="accent-bg"
  >
    Speech To Text
  </button>
  <button
    mat-button
    routerLink="/synthesize"
    class="nav-btn"
    routerLinkActive="accent-bg"
  >
    Text To Speech
  </button>
  <button
    mat-button
    routerLink="/transcriptions"
    class="nav-btn"
    routerLinkActive="accent-bg"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Your Transcriptions
  </button>
  <span class="spacer"></span>
  <span class="spacer"></span>
  <button mat-button mat-icon-button [matMenuTriggerFor]="themeMenu">
    <mat-icon>palette</mat-icon>
  </button>
  <button mat-button color="warn" mat-icon-button (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #themeMenu="matMenu">
  <button mat-menu-item (click)="onThemeChange('default-theme')">
    <mat-icon>star</mat-icon>
    <span>Indigo & Pink</span>
  </button>
  <button mat-menu-item (click)="onThemeChange('dark-theme')">
    <mat-icon>cloud</mat-icon>
    <span>Dark & Blue Grey</span>
  </button>
  <button mat-menu-item (click)="onThemeChange('custom-theme')">
    <mat-icon>eco</mat-icon>
    <span>Purple & Green</span>
  </button>
</mat-menu>
