<mat-toolbar color="primary">
  <button mat-button routerLink="/" class="nav-btn nav-btn--logo">
    <img src="../../../assets/logo.png" alt="logo" />
  </button>
  <button
    mat-button
    routerLink="/transcriptions/new"
    class="nav-btn"
    routerLinkActive="accent-bg"
  >
    Speech To Text
  </button>
  <button
    mat-button
    routerLink="/synthesize"
    class="nav-btn"
    routerLinkActive="accent-bg"
  >
    Text To Speech
  </button>
  <button
    mat-button
    routerLink="/transcriptions"
    class="nav-btn"
    routerLinkActive="accent-bg"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Your Transcriptions
  </button>
  <span class="spacer"></span>
  <span class="spacer"></span>
  <mat-form-field appearance="outline">
    <mat-label>Theme</mat-label>
    <mat-select (selectionChange)="onThemeChange($event)">
      <mat-option *ngFor="let theme of themes" [value]="theme.value">
        {{ theme.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-flat-button color="warn" mat-icon-button (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
