.select-lang {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.language-label {
  font-weight: bold;
  padding-bottom: 8px;
  color: #03458b;
  display: inline-block;
}

.language-select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  transition: all 0.3s;
}

.language-select:hover,
.language-select:focus {
  outline: none;
  border-color: #025fc3;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}

.language-select option {
  font-size: 14px;
}

/* Customize the appearance of the dropdown arrow */
.language-select::after {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  right: 10px;
  width: 8px;
  height: 8px;
  border-top: 2px solid #025fc3;
  border-right: 2px solid #025fc3;
  transform: rotate(45deg);
  pointer-events: none;
  transition: transform 0.3s ease;
}

.language-select:hover::after {
  transform: rotate(-135deg);
}

.input-mode {
  display: flex;
  justify-content: center;
}

.radio-option {
  display: flex;
  align-items: center;
  margin-right: 10px;
  transition: all 0.2s;
}

.radio-option input {
  cursor: pointer;
  margin-right: 5px;
  transform: scale(1.7); /* Increase the size of the radio button */
}

.radio-option label {
  cursor: pointer;
  margin-left: 4px;
  color: #03458b; /* Set a relevant color for the label */
  font-weight: bold;
  display: inline-block;
}
