.container {
  display: flex;
  flex-direction: column;
  background-color: #59a0e3ba;
  margin: 30px 200px;
  box-shadow: 0 5px 15px #8080806b;
  border-radius: 5px;
}

.actions {
  display: flex;
  align-items: flex-end;
}
