/* You can add global styles to this file, and also import other style files */

@import "./custom-styles/theming";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Angular Material Styles
.mat-card > .mat-card-actions:last-child {
  margin-bottom: 0px !important;
  display: flex;
  flex-direction: row-reverse;
}

.mat-list-item {
  height: auto !important;
}

.mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
  padding: 0 !important;
}

.spacer {
  flex: 1 auto;
}

.mat-typography h3 {
  margin: 0;
}

// Components
.action-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.action-btn[disabled],
.play-btn[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.play-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 25px;
  margin: 10px !important;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

// Utility
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
