/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Angular Material Styles
.mat-card > .mat-card-actions:last-child {
  margin-bottom: 0px !important;
  display: flex;
  flex-direction: row-reverse;
}

.mat-list-item {
  height: auto !important;
}

.mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
  padding: 0 !important;
}

.spacer {
  flex: 1 auto;
}

.mat-typography h3 {
  margin: 0;
}
