.input-mode {
  display: flex;
  justify-content: center;
}

.radio-option {
  display: flex;
  align-items: center;
  margin-right: 10px;
  transition: all 0.2s;
}

.radio-option input {
  cursor: pointer;
  margin-right: 5px;
  transform: scale(1.7); /* Increase the size of the radio button */
}

.radio-option label {
  cursor: pointer;
  margin-left: 4px;
  color: #03458b; /* Set a relevant color for the label */
  font-weight: bold;
  display: inline-block;
}
